<footer id="footer" class="topspace">
  <div class="container">
    <div class="row">
      <div class="col-md-6 widget">
        <!-- <h3 class="widget-title">Contact</h3>
        <div class="widget-body">
          <p>+234 23 9873237<br>
            <a href="mailto:#">some.email@somewhere.com</a><br> -->
            
          </p>  
        </div>
      </div>

      <div class="col-md-6 widget">
        <h3 class="widget-title">Follow me</h3>
        <div class="widget-body">
          <p class="follow-me-icons">
            <a href="https://github.com/yuga916"><i class="fa fa-github fa-2"></i></a>
            <a href="http://facebook.com/ichinoheyuga"><i class="fa fa-facebook fa-2"></i></a>
          </p>
          <br>
          <br>
          <br>
          
        </div>
      </div>

      
      </div>

    </div> <!-- /row of widgets -->
  </div>
</footer>